@import '../../../styles/shared.scss';

.container {
  height: auto;
}

.thumbnail {
  border-radius: 2px;
  background-color: $colorGreyLight;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: $MediaBrowserGridItemThumbnailWidth;
  height: $MediaBrowserGridItemThumbnailHeight;
}

.icons {
  display: flex;
  gap: 18px;
  margin-top: 8px;
}

.icon {
  position: relative;
  top: 2px;
  &:hover {
    cursor: pointer;
  }
}

.size {
  height: 20px;
}

.sharedWith {
  height: 20px;
}

.folderWrapper {
  position: relative;
}

.folderName {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  font-size: 12pt;
  color: $colorSecondary;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $colorPrimary;
  }
}
