@import "../../../styles/shared.scss";

.container {
  height: auto;
}

.thumbnail {
  // TODO: placeholder color
  background: cornflowerblue;
  width: $MediaBrowserGridItemThumbnailWidth;
  height: $MediaBrowserGridItemThumbnailHeight;
}

.icons {
  display: flex;
  gap: 18px;
  margin-top: 8px;
}

.icon {
  position: relative;
  top: 2px;
}

.size {
  height: 20px;
}

.sharedWith {
  height: 20px;
}